{% extends 'base.html' %}

{% block content %}
<h1>Product detail</h1>
<ul>
    <li>{{data.product__name}}</li>
    <li>Price: ${{data.store_price}}</li>
    <li>Units: {{data.product_inventory__units}}</li>

</ul>
<ul>
{% for attributename in att_name %}
{{attributename.product_attribute__name}}
    {% for attribute in att_val_name %}
        {% if  attribute.attribute_values__product_attribute__name == attributename.product_attribute__name%}
            <li>{{attribute.attribute_values__attribute_value}}</li>
        {% endif %}
    {% endfor %}
<br>
{% endfor %}
</ul>
{% endblock content %}
